/*
 * There are two different <code> in redmine:
 * - Inline code, e.g.: "Please change @reset = True@ on line 12"
 * - Code blocks, e.g.: "I updated this: <pre><code class="python">..."
 *
 * The second case is rendered beautifully and doesn't need to be changed.
 * The first case is styled rather poorly, it's really not obvious by default
 * since only the font is changed, not the colours.
 *
 * Targeting the first case is a bit tricky since Redmine doesn't render these
 * tags with a distinguishable class.
 *
 * In the HTML it looks like this:
 * - Inline code: "Please change <code>reset = True</code> on line 12"
 * - Code blocks: "I updated this: <pre><code class='python syntaxhl'><span class='CodeRay'>..."
 *
 * Normally <code> doesn't set background-color/color, just font-family.
 * Therefore we can work around the lack of a class by styling <code> and then
 * resetting it when we know we are in the first scenario.
 */

code {
  background-color: rgb(255, 242, 242); /* fallback for browsers without hsla */
  background-color: hsla(0,100%,50%,0.05);
  color: #D20;
  padding: 2px;
}

code.syntaxhl {
  background-color: inherit; /* fallback for browsers without initial */
  background-color: initial;
  color: inherit; /* fallback for browsers without initial */
  color: initial;
}
